
@tailwind base;

@tailwind components;

@tailwind utilities;
@font-face{
  font-family: 'VONIQUE' ; 
  src: url('../public/fonts/Vonique.ttf');

}

@font-face{
  font-family:'OSTRICH';
    src: url('../public/fonts/ostrich-sans.ttf');
}
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; 
  box-sizing: border-box;
}
.navBar div {
  @apply py-4 md:px-6 px-0 cursor-pointer  transition-all ease-in duration-100  hover:text-red-600 ;

}

h3{font-size: clamp(.8rem , 1.8vmin,1.8rem)}



.follow{
    transition-timing-function:  cubic-bezier(.07,.24,.34,1.18);
}



